# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build and Test

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]
    
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Set git to use LF
      run: |
        git config --global core.autocrlf false
        git config --global core.eol lf
        
    - name: Checkout completely
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2
        restore-keys: ${{ runner.os }}-m2
        
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'zulu'
        cache: maven

    - name: Build with Maven
      run: mvn -B clean install site --file pom.xml

    - uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }} 
        files: target/site/jacoco/jacoco.xml 
        flags: unittests 
        fail_ci_if_error: true 
        verbose: true 

    - name: Tidy up old package versions
      uses: actions/delete-package-versions@v3
      with: 
        package-name: 'uk.co.spudsoft.xlsx'
        min-versions-to-keep: 10
        delete-only-pre-release-versions: "true" 
                
    - name: Clean up settings.xml
      run: |
        rm "${HOME}/.m2/settings.xml"        
        

